
@tailwind base;
@tailwind components;
@tailwind utilities;


/* desktop view */
.bgImage{
    background-image: url("./assets/upper-bg-desktop.png"), url("./assets/lower-bg-desktop.png");
    background-repeat: no-repeat;
    background-position: top center, bottom center;
    background-size: 100% 75%, 100% 75%;
}
 

/* mobile view */
@media screen and (max-width: 749px) {
.bgImage{
    background-image: url("./assets/upper-bg-desktop.png"), url("./assets/lower-bg-desktop.png");
    background-repeat: no-repeat;
    background-position: top center, bottom center;
    background-size: 100% 25%, 100% 25%;
}
}
  
/* tablet view */
@media screen and (max-width: 1023px) {
.bgImage{
    background-image: url("./assets/upper-bg-desktop.png"), url("./assets/lower-bg-desktop.png");
    background-repeat: no-repeat;
    background-position: top center, bottom center;
    background-size: 100% 50%, 100% 50%;
}
}
